* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-fieldset: #ffffffce;
}

.masculino {
    background: url('./imagens/img-bg-menino.jfif') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.feminino {
    background: url('./imagens/img-bg-menina.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.padrao {
    background: url('./imagens/img-bg-padrao.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: #80808048;
    background: url('./imagens/img-bg-padrao.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.5s ease;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 30px;
}

form {
    margin: 10px;
}

fieldset { 
    display: flex;
    flex-direction: column;
    padding: 30px; 
    background-color: var(--color-fieldset);
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
    box-shadow:
        0 1px 2px rgba(0,0,0,0.05),
        0 6px 12px rgba(0,0,0,0.06);

}

legend {
    font-variant: small-caps;
    color: var(--color-legend);
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}

label {
    width: 100%;
    flex-direction: column;
    padding: 5px;
}

textarea {
    margin-bottom: 10px;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

p {
    padding: 5px;
    margin-top: 20px;
    font-variant: small-caps;
    font-size: 1.1rem;
    color: var(--color-p);
}

div {
    display: flex;
    flex-direction: column;
}

span {
    margin: 10px 0px 5px 0px;
}